div.warning {
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    color: #b94a48;
    border-left: 1px solid #eed3d7;
}

.markdown {
    table.vertical th {
        text-align: right;
    }

    table.pinout {
        padding-left: 20px;
        padding-right: 20px;

        td {
            text-align: center;
            padding: 3px;
            background-color: #fefefe;
            border: 1px solid #555;
            min-width: 3em;
        }

        td.vcc {
            background-color: #d9534f;
            color: #fff;
        }

        td.gnd {
            background-color: #111;
            color: #fff;
        }

        td.address {
            background-color: #a403b6;
            color: #fff;
        }

        td.control {
            background-color: #cf841b;
            color: #fff;
        }

        td.data {
            background-color: #0e848a;
            color: #fff;
        }

        td.nc {
            background-color: #ddd;
            color: #666;
        }

        td.not {
            text-decoration: overline;
        }

    }

}